<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <message/>
                <logLevel/>
                <logLevelValue/>
                <pattern>
                    <pattern>
                        {
                        "appname": "theappname",
                        "myCustomField": "fieldValue",
                        "environment": "theenv"
                        }
                    </pattern>
                </pattern>
                <tags/>
                <nestedField>
                    <fieldName>@metadata</fieldName>
                    <providers>
                        <logstashMarkers/>
                        <arguments/>
                    </providers>
                </nestedField>
                <nestedField>
                    <fieldName>@context</fieldName>
                    <providers>
                        <loggerName/>
                        <threadName/>
                        <callerData/>
                        <context/>
                        <stackTrace/>
                    </providers>
                </nestedField>
                <mdc/>
            </providers>
        </encoder>
    </appender>
    <logger name="QueryLog" level="OFF" additivity="false">
        <appender-ref ref="QUERY_LOG"/>
    </logger>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.hbase.async" level="ERROR"/>
    <logger name="com.stumbleupon.async" level="ERROR"/>
    <logger name="io.tsdb.opentsdb.discovery" level="INFO"/>
    <logger name="net.opentsdb.tsd" level="INFO" />
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
